$green-light: #38B09D;
$green-dark: #005b45;
$green-dark-fade: rgba(0, 91, 69, 0.3);
$green-dark-faded: rgba(0, 91, 69, 0.1);
$beige: #F3EADA;
$beige-light: #F9F4EC;
$orange: #ffa17a;
$orange-fade: rgba(255, 161, 122, 0.3);

$body-bg: $green-light;
$body-color: $beige;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~hamburgers/_sass/hamburgers/hamburgers';

// Imports fonts
@import './fonts/fonts';

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto', sans-serif;
}

.loader {
  width: 2rem;
}

.dropdown {
  &__container {
    display: inline-block;

    &__active {
      position: relative;
      cursor: pointer;
      padding-right: 4rem;
      transition: all 0.2s linear;
      font-weight: bold;

      &:hover {
        transition: all 0.2s linear;
        color: $orange;

        * {
          transition: all 0.2s linear;
          color: $orange !important;
        }
      }

      svg {
        top: 0;
        right: 1.8rem;
        width: 2rem !important;
        z-index: 999 !important;
      }
    }

    &__numbers,
    &__races,
    &__categories,
    &__sessions,
    &__type {
      height: 0;
      position: absolute;
      overflow: hidden;

      div {
        cursor: pointer;
      }

      &.open {
        height: auto;
        overflow-y: auto;
        background-color: #fff;
        padding: 0.5rem 1rem;
        z-index: 9999999;

        div {
          text-align: left;
          transition: all 0.2s linear;
          color: $green-dark;
          font-weight: bold;

          &:hover {
            transition: all 0.2s linear;
            color: orange;
          }
        }
      }
    }

    &__races,
    &__numbers {
      &.open {
        height: 10rem;
      }
    }
  }
}

span.highlight {
  color: $orange;
  font-weight: bold;
}

.hamburger {
  padding: 0;
  position: absolute;
  top: 4rem;
  left: 8rem;
  z-index: 10;
  outline: none !important;

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: rgba(255,255,255, 0.6);
  }

  &:hover {
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: rgba(255,255,255, 1);
    }
  }
}

.center-con {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  z-index: 10;
  transform: rotate(90deg);
}



.round {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;

}

#cta{
  width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.app {
  overflow: hidden;
  position: relative;

  &-share {
    position: absolute;
    color: rgba(255,255,255, 0.6);
    transition: all 0.2s linear;
    font-size: 1.5rem;
    bottom: 4rem;
    left: 8rem;
    z-index: 10;

    &:hover {
      cursor: pointer;
      transition: all 0.2s linear;
      color: rgba(255,255,255, 1);
    }
  }

  &-contact {
    position: absolute;
    color: rgba(255,255,255, 0.6);
    transition: all 0.2s linear;
    font-size: 1.5rem;
    bottom: 4rem;
    right: 8rem;
    z-index: 10;

    &:hover {
      cursor: pointer;
      transition: all 0.2s linear;
      color: rgba(255,255,255, 1);
    }
  }

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;

    stop {
      &:first-of-type {
        stop-color: $green-dark;
        stop-opacity:1;
      }
      &:last-of-type {
        stop-color:$green-light;
        stop-opacity:1;
      }
    }
  }

  &-latest {
    color: $beige;
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 8rem;
    z-index: 10;
    align-items: center;

    svg {
      top: -.5rem;
      transform: scale(2);
      width: 78%;

      path{
        d:path('M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45 c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2 c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7 c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z');
        animation: morph 15s infinite;
      }


      @keyframes morph {
        0%, 100%{
          d:path('M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45   c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2 c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7 c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z');
        }
        50%{
          d:path('M51,171.3c-6.1-17.7-15.3-17.2-20.7-32c-8-21.9,0.7-54.6,20.7-67.1c19.5-12.3,32.8,5.5,67.7-3.4C145.2,62,145,49.9,173,43.4 c12-2.8,41.4-9.6,60.2,6.6c19,16.4,16.7,47.5,16,57.7c-1.7,22.8-10.3,25.5-9.4,46.4c1,22.5,11.2,25.8,9.1,42.6  c-2.2,17.6-16.3,37.5-33.5,40.8c-22,4.1-29.4-22.4-54.9-22.6c-31-0.2-40.8,39-68.3,35.7c-17.3-2-32.2-19.8-37.3-34.8    C48.9,198.6,57.8,191,51,171.3z')
        }
      }
    }

    &-top {
    }

    &-track {
      img {
        width: 3rem;
      }
    }

    &-small {
      text-transform: uppercase;
      font-size: 0.6rem;
    }

    &__race {
      bottom: 0.5rem !important;

      stop {
        &:first-of-type {
          stop-color: $orange !important;
          stop-opacity:1;
        }
        &:last-of-type {
          stop-color:transparent !important;
          stop-opacity:1;
        }
      }
    }
  }
}

.separator {
  height: 3px;
  width: 3rem;
  background-color: $orange;
  margin: 1rem 0;
}

.index-main {
  position: relative;

  &-title {
    display: flex;
    align-items: center;
    height: 100vh;

    &-text {
      padding: 0 0 0 5rem;
      width: 70%;

      h1 {
        font-size: 5rem;
        margin: 0;
        line-height: 1;
        padding: 0;
        font-weight: 900;
      }
    }



    &-images {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        position: absolute;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        width: 20rem;

        &:first-of-type {
          left: 0;
          z-index: 1;
        }

        &:last-of-type {
          left: 2rem;
          z-index: 0;
          opacity: 0.2;
          blur: 8px;
          filter: blur(8px);
          -webkit-filter: blur(2px);
        }
      }
    }
  }

  &-results {
    color: $green-dark;
    background-color: $beige;
    padding: 10rem 0;

    h2 {
      font-size: 5rem;
      margin: 0;
      padding: 0;
      font-weight: 900;
      text-align: center;
    }

    &-inner {
      text-align: center;

      button {
        background-color: $orange;
        color: $beige;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        border: none;
        margin: 3rem 0;

        &:disabled {
          background-color: #ccc;
        }
      }

      &__filters {
        display: flex;
        justify-content: space-around;
        padding: 5rem 0 0.5rem 0;
        align-items: center;

        &__filter {
          color: $green-dark-fade;

          &.active {
            color: $green-dark;
          }
        }
      }
      
      table {
        width: 100%;
        
        td,
        th {
          padding: 1rem 0;
        }

        tr {

          &:nth-child(even) {
            background: linear-gradient(to right,transparent,$beige-light,transparent);
          }
        }
      }
    }
  }

  &-about {
    background-color: #38b09d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%232e9e8a' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23238d78' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23187c67' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%230c6b56' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23005b45' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230c6b56' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23187c67' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23238d78' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%232e9e8a' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%2338b09d' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: $beige;
    padding: 10rem 0;


    a {
      color: $orange;
      font-weight: bold;
      text-decoration: none !important;
      transition: all 0.2s linear;

      &:hover {
        transition: all 0.2s linear;
        color: $beige;
      }
    }

    &-inner {
      text-align: center;;

      h2 {
        font-size: 5rem;
        margin: 0;
        padding: 0;
        font-weight: 900;
        margin-bottom: 2rem;
      }
    }
    &-links {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      
      a {
        margin: 0 1rem;
      }
    }
  }
}

